* {
  margin: 0%;
}
body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat', sans-serif;
  font-weight: 1px;
  font-size: 15px;
  line-height: 20px;
}

#cabecalho {
  background-color: #355834;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0 20px 0;
}

#cabecalho #titulo {
  color: #F1F5F2;
  text-align: center;
  text-shadow: 2px 2px 2px #14281D
}

#navegacao {
  padding-top: 10px;
  color: #F1F5F2;
  text-align: center;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #F1F5F2;
}

.links {
  padding: 5px;
}

#perfil {
  background-image: url(/laptop-desk-cropped.png);
  padding: 20px;
  padding-top: 120px;
}

#minha_foto {
  width: 200px;
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 1.2px 1.2px 5px black;
}

#nome {
  margin: 0%;
  padding-top: 13px;
  text-align: center;
  color: #F1F5F2;
  font-size: 22px;
  text-shadow: 2px 2px 2px black;
}

#ocupacao {
  margin: 0%;
  padding-top: 5px;
  text-align: center;
  color: #F1F5F2;
  font-size: 12px;
  text-shadow: 2px 2px 2px black;
}

.lado-esquerdo {
  width: 40%;
  margin: 40px;
}

#lista_01 {
  display: inline-block;
  width: max-content;
}
  
#lista_02 {
  display: inline-block;
  width: max-content;
}

#aprendidas {
  padding: 10px;
}

#a_aprender {
  padding: 10px;
}

.lado-direito {
  width: 40%;
  text-align: justify;
  margin: 40px;
}

.lado-direito p {
  text-indent: 20px;
}

#rodape {
  background-color: #6E633D;
  color: #F1F5F2;
  padding: 20px 15px 20px 0;
  text-align: right;
  text-shadow: 2px 2px 2px #14281D
}