* {
  margin: 0%;
}
body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat', sans-serif;
}

#cabecalho {
  background-color: #355834;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 0 20px 0;
}

#cabecalho #titulo {
  color: #F1F5F2;
  text-align: center;
}

#navegacao {
  padding-top: 10px;
  color: #F1F5F2;
  text-align: center;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #F1F5F2;
}

.links {
  padding: 5px;
}

#minha_foto {
  width: 200px;
  margin: 120px 0 0 0;
  border-radius: 50%;
}

#nome {
  margin: 0%;
  text-align: auto;
}

#listas {
  width: 40%;
  margin: 40px;
}

#lista_01 {
  display: inline-block;
  width: max-content;
}
  
#lista_02 {
  display: inline-block;
  width: max-content;
}

#titulo_da_lista {
  padding: 15px;
}

#aprendidas {
  padding: 10px;
}

#a_aprender {
  padding: 10px;
}

#sobre_mim {
  width: 40%;
  text-align: justify;
  margin: 40px;
}

#sobre_mim p {
  text-indent: 20px;
}

#rodape {
  background-color: #6E633D;
  color: #F1F5F2;
  padding: 20px 15px 20px 0;
  text-align: right;
}